<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{companyName}}!</h1>
    <h3>{{webAppProjectType}}</h3>
    <p>This application was created to help Weebly Developers understand how to create [Weebly Dashboard Card Apps](https://dev.weebly.com/what-are-dashboard-cards.html) and which can listen for [Weebly Webhooks](https://dev.weebly.com/use-webhooks.html) to update the [Card API](https://dev.weebly.com/card-api.html) at the appropriate time.
    <p><a class="btn btn-primary btn-lg" href="{{webAppGithubUrl}" role="button">View Source Code on Github &raquo;</a></p>
  </div>
</div>
